* {
  box-sizing: border-box;
}

:root {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  line-height: 1.5;
  margin: 0px;
  background-color: #F8EBB8;

}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

/*TEXT STYLING*/

h1 {
  display: inline-block;
  font-size: 1.75em;
  line-height: 1.1;
  color: #BA9F5E
}


h2 {
  font-size: 2rem;
  margin: 0;
  line-height: 2.5rem;
}

h3 {
  color: #BA9F5E;
  margin: 0;
}

h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

h5, h6 {
  line-height: 2rem;
  font-weight: 300;
}


h6 {
  font-style: italic;
}

.winner {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

label {
  color: #BA9F5E;
  margin: 0;
}

#showwinner {
  cursor: pointer;
  margin: 10px;
}


p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 753px) {
  h1 {
    font-size: 4.5rem;
    padding: 0 10px;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3, label {
    font-size: 2rem;
  }

  #showwinner {
    scale: 1.25;
  }

  p, h4, h5, h6  {
    font-size: 1.25rem;
  }


}

/* FRAME STYLING */

.background {
  background-color: #262522;
  width: 96dvw;
  margin: 20px auto;
  border-radius: 76px;
  border: 1px solid #262522;
  max-width: 800px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 415px;
  margin: 0 auto;
  padding: 35px 45px 10px;
}


.oscar {
  width: auto;
  height: 75px;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0px auto;
}

@media screen and (min-width: 753px) {
  .hero {
    max-width: 775px;
  }

  .oscar {
    width: auto;
    height: 100px;
  }

  .notes {
    justify-content: space-between;
    width: auto;
    margin: 0px 50px;
    align-self: center;
  }

}

/* FILM STLYING */

#films {
  background-color: #FAF9EE;
  margin: 10px 25px 20px;
  border-radius: 49px;
  padding-top: 10px;
}

.film-card-title-row {
  display: grid;
  grid-template: 3fr 3fr 2fr / 1fr 7fr 1fr;
  padding: 20px 30px 10px;
  /*height: 260px;*/
}

.film-card-poster {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  height: 200px;
  place-self: center;
}

.film-card-title {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  place-self: center;
}

.expand-btn {
  cursor: pointer;
  align-self: center;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: end;
}

.expand-icon {
  width: 20px;
  padding-top: 5px;
}

hr {
  margin: 0px 30px;
  border-top: 1px solid #262522;
  border-bottom: none;
  height: 3px;
}


.filmdetails {
  margin: 0px 20px 30px;
  text-align: left;
}

#id53 {
  opacity: 0;
} 

@media screen and (min-width: 753px) {
  .film-card-title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }


  h2 {
    padding: 0 10px;
  }

  hr {
    margin: 0px 50px;
  }

  .expand-btn {
    width: auto;
  }

  .filmdetails {
    margin: 0px 50px 40px;
    text-align: left;
  }

}